.destaque {
    background: url(../imagens/destaque.jpg) center bottom repeat-x;
    -webkit-background-size: cover;
    background-size: cover;
    color: $corbranca;
    height: 330px;
    padding-top: 10em;
}

.destaque p {
    width: 30em;
}

.destaque p:first-child {
    width: 30em;
    font-size: 1.3em;
    line-height: 1.1;
}

.destaque p:first-child:first-line {
    font-size: 2.2em;
    font-weight: bold;
}

.destaque button {
    margin-top: 1em;
    background: $cor-padrao;
    border: 0;
    padding: .6em;
    font-size: 1.2em;
    @include borda-arredondada(50px);
    @extend %sombra-padrao;
    font-weight: bold;
}

.plataformas {
    padding: 0;
}

.plataformas li {
    display: inline-block;
    width: 50px;
    height: 60px;
    @extend %image-replacement;
    background-position: center;
    margin: 1em 1.5em 0 0;
}

.plataformas li:nth-child(1) {
    background-image: url(../imagens/logo-apple.png);
}

.plataformas li:nth-child(2) {
    background-image: url(../imagens/logo-android.png);
}

.plataformas li:nth-child(3) {
    background-image: url(../imagens/logo-windows.png);
}

.plataformas li:nth-child(4) {
    background-image: url(../imagens/logo-blackberry.png);
}